.navbar{
  padding:20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo{
  width: 150px ;

}

.navbar-menu{
  display: flex;
  gap: 20px;
  list-style: none;
  color: #49557e;
  font-size:18px
}

.navbar-right{
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar button{
  background: transparent;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid tomato;
  border-radius: 50px;
  color: #49557e;
  cursor: pointer;
}

.navbar button:hover{
  background: tomato;
  color: white;
  transition: all 0.3s ease-in-out;
}

.navbar .active{
  padding-bottom: 2px;
  border-bottom: 2px solid#49557e;
}

.navbar li{
  cursor: pointer;
  padding: 10px 0px;
  transition: all 0.3s ease-in-out;
}

.navbar-search-icon{
  position: relative;
}

.navbar-search-icon .dot{
  position: absolute;
  min-height: 10px;
  min-width: 10px;
  background: tomato;
  border-radius:5px;
  top: -5px;
  right: -5px;
}